/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-ene-2016, 12:32:32
    Author     : usuario
*/

/* Móviles: */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
    display: block;
}
/* Ordenadores: */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@font-face {
  font-family: docktrin;
  src: url(../fuentes/docktrin.ttf)
}

.cabecera{
    font-family: 'docktrin';
    font-size: 3em;
    display: block;
    
    
}
body{
    background-image: url('../images/beer-pattern2.jpg');
}

.formuLogin{
    font-size: 1.5em;
    font-family: 'docktrin';
    border: solid 4px;
    border-radius: 15px;
    position: absolute;
    right: 5%;
    top: 15%;
}



.formuRegistro{
    font-size: 1.5em;
    font-family: 'docktrin';
    border: solid 4px;
    border-radius: 15px;
    position: absolute;
    right: 10%;
    top: 15%; 
}

.formuCervezas{
    font-size: 1.5em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    border: solid 4px;
    border-radius: 15px;
    float: left;
    margin-top: 5%;
    
}

.cerveTitulo{
    font-family: 'docktrin';
}
.formuEstablecimientos{
    font-size: 1.5em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    border: solid 4px;
    border-radius: 15px;
    float: right;
    margin-top: 5%;
 
}
.estableciTitulo{
    font-family: 'docktrin';
}
