/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-ene-2016, 12:32:32
    Author     : usuario
*/


@font-face {
  font-family: docktrin;
  src: url(../fuentes/docktrin.ttf)
}

.cabecera{
    font-family: 'docktrin';
    font-size: 3em;
    display: block;    
}
body{
    background-image: url('../images/wood.jpg');   
}

.navbar{
    font-family: 'docktrin';
}


.formuRegistro{
    
    font-size: 1.25em;
    position: absolute;
    font-family: 'docktrin';
    border: solid 4px;
    border-radius: 15px;
    top: 20%;
    right: 35%;
}

.formuCervezas{
    font-size: 1.25em;
    position: absolute;
    font-family: 'docktrin';
    border: solid 4px;
    border-radius: 15px;
    top: 20%;
    right: 40%;
   
    
}

.cerveTitulo{
    font-family: 'docktrin';
}

.estableciTitulo{
    font-family: 'docktrin';
}



.cerrar {
    font-family: 'docktrin';
    float: initial;
    margin-top: 5%;
    font-size: 1.5em;
    
}

/* Aquí va todo el menú para moverse*/



.piePagina{
    position: absolute;
    font-family: 'docktrin';
    bottom: 1%;
    font-size: 1em;
    right: 10%;
}

.avisoSesion{
    
    border: solid 4px;
    border-radius: 15px;
    margin: 10%;
    padding: 10%;
    font-family: 'docktrin';
    font-size: 1.25em;
    
}

.tablaTop{
    
    font-size: 1.25em;
    position: absolute;
    font-family: 'docktrin';
    border: solid 4px;
    border-radius: 15px;
    top: 20%;
    text-align: center;
}
.cabeceratabla {
    border-bottom: solid 4px;
}

.about{
    border: solid 4px;
    border-radius: 15px;
    margin: 10%;
    padding: 10%;
    font-family: 'docktrin';
    font-size: 1.25em;
}

.panel, .panel-default, .panel-footer{
    opacity: 0.85;
    background-color: #AB9E8F;
}

.panel-heading{
     background-color: #AB9E8F;
}